body {
    background-color: #001233;
    color: #979dac;
}

nav {
    background-color: #014f86;
}

footer {
    background-color: #014f86;
}

.album {
    background-color: #001845;
}

.nav-dropdown {
    background-color: #001845;
}

.login-body {
    background-image: url('https://www.shell.cl/motorists/promotions-and-campaigns/_jcr_content/root/metadata.shellimg.png/1721805650718/shell-station-trees.png');
    background-repeat: no-repeat;
    background-size: cover;
}