body {
    background-color: #001233;
    color: #979dac;
}

nav {
    background-color: #014f86;
}

footer {
    background-color: #014f86;
}

.album {
    background-color: #001845;
}

.nav-dropdown {
    background-color: #001845;
}


.img-fluid {
    width: 60%;
    height: auto;
}
.card img{
    min-width: 80%;
    height: 100%;
    object-fit: cover;
}

.login-body {
    background-image: url('https://www.shell.cl/motorists/promotions-and-campaigns/_jcr_content/root/metadata.shellimg.png/1721805650718/shell-station-trees.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.carrito {
    background-color: #0353a4;
    color: aliceblue;
}