body {
    background-color: #001233;
    color: #979dac;
}

nav {
    background-color: #014f86;
}

footer {
    background-color: #014f86;
}

.album {
    background-color: #001845;
}

.nav-dropdown {
    background-color: #001845;
}

.img-fluid {
    width: 60%;
    height: auto;
}
.card img{
    min-width: 80%;
    height: 100%;
    object-fit: cover;
}
